<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>exercise14_2.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_1</servlet-name>
    <servlet-class>exercise14_1.Exercise14_1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_2</servlet-name>
    <servlet-class>exercise14_2.Exercise14_2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_4</servlet-name>
    <servlet-class>exercise14_4.Exercise14_4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_5</servlet-name>
    <servlet-class>exercise14_5.Exercise14_5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_6</servlet-name>
    <servlet-class>exercise14_6.Exercise14_6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_7</servlet-name>
    <servlet-class>exercise14_7.Exercise14_7</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exercise14_9</servlet-name>
    <servlet-class>exercise14_9.Exercise14_9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/exercise14_2.Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_1</servlet-name>
    <url-pattern>/servlet/exercise14_1.Exercise14_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_2</servlet-name>
    <url-pattern>/servlet/exercise14_2.Exercise14_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_4</servlet-name>
    <url-pattern>/servlet/exercise14_4.Exercise14_4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_5</servlet-name>
    <url-pattern>/servlet/exercise14_5.Exercise14_5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_6</servlet-name>
    <url-pattern>/servlet/exercise14_6.Exercise14_6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_7</servlet-name>
    <url-pattern>/servlet/exercise14_7.Exercise14_7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exercise14_9</servlet-name>
    <url-pattern>/servlet/exercise14_9.Exercise14_9</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
</web-app>
