<style type="text/css">
<!--

body.nav {font-family: verdana, helvetica, geneva, sans-serif; background-color: #B21811}
body.nav {font-family: verdana, helvetica, geneva, sans-serif; background-color: #B21811}
a.nav:hover {color: #FFFF99; text-decoration: underline; font-weight: normal}
a.nav {color: #FFFFFF; text-decoration: none}


body.main {font-family: verdana, helvetica, geneva, sans-serif; background-color: #FFFFFF}
body.welcome {font-family: verdana, helvetica, geneva, sans-serif; background-color: #FFFFFF}
a:hover {color: #B21811}
a {color: #530E59}

p	{font-family: verdana, helvetica, geneva, sans-serif}
th	{font-family: verdana, helvetica, geneva, sans-serif}
td	{font-family: verdana, helvetica, geneva, sans-serif}
ul	{font-family: verdana, helvetica, geneva, sans-serif}
ol	{font-family: verdana, helvetica, geneva, sans-serif}
dl	{font-family: verdana, helvetica, geneva, sans-serif}
h1	{font-family: verdana, helvetica, geneva, sans-serif}
h2	{font-family: verdana, helvetica, geneva, sans-serif}
h3	{font-family: verdana, helvetica, geneva, sans-serif}
h4	{font-family: verdana, helvetica, geneva, sans-serif}
h5	{font-family: verdana, helvetica, geneva, sans-serif}
h6	{font-family: verdana, helvetica, geneva, sans-serif}


.title01 {font-family: verdana, helvetica, geneva, sans-serif; font-size: 16px; font-weight: bold}
.title02 {font-family: verdana, helvetica, geneva, sans-serif; font-size: 20px; font-weight: bold}
.author {font-family: verdana, helvetica, geneva, sans-serif; font-size: 12px; font-weight: bold}
.small {font-family: verdana, helvetica, geneva, sans-serif; font-size: 10px; font-weight: normal}

.sup-nav-title	{font-family: verdana, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ffffff}
.sup-nav	{font-family: verdana, helvetica, sans-serif; font-size: 11px}
.sup-header	{font-family: verdana, helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #ffffff}

.footer {font-family: verdana, helvetica, sans-serif; font-size: 10px}
-->
</style>
