<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>TestTest</servlet-name>
    <servlet-class>servletdemo.TestTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Temp</servlet-name>
    <servlet-class>servletdemo.Temp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servletdemo.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CurrentTime</servlet-name>
    <servlet-class>servletdemo.CurrentTime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimeForm</servlet-name>
    <servlet-class>servletdemo.TimeForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleRegistration</servlet-name>
    <servlet-class>servletdemo.SimpleRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servletdemo.Registration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrationWithCookie</servlet-name>
    <servlet-class>servletdemo.RegistrationWithCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrationWithHttpSession</servlet-name>
    <servlet-class>servletdemo.RegistrationWithHttpSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageContent</servlet-name>
    <servlet-class>servletdemo.ImageContent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageContentWithDrawing</servlet-name>
    <servlet-class>servletdemo.ImageContentWithDrawing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MixedContent</servlet-name>
    <servlet-class>servletdemo.MixedContent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageContentFromComponent</servlet-name>
    <servlet-class>servletdemo.ImageContentFromComponent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTest</servlet-name>
    <url-pattern>/servlet/servletdemo.TestTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/servlet/servletdemo.Temp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlet/servletdemo.FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CurrentTime</servlet-name>
    <url-pattern>/servlet/servletdemo.CurrentTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeForm</servlet-name>
    <url-pattern>/servlet/servletdemo.TimeForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleRegistration</servlet-name>
    <url-pattern>/servlet/servletdemo.SimpleRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/servlet/servletdemo.Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationWithCookie</servlet-name>
    <url-pattern>/servlet/servletdemo.RegistrationWithCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationWithHttpSession</servlet-name>
    <url-pattern>/servlet/servletdemo.RegistrationWithHttpSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageContent</servlet-name>
    <url-pattern>/servlet/servletdemo.ImageContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageContentWithDrawing</servlet-name>
    <url-pattern>/servlet/servletdemo.ImageContentWithDrawing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MixedContent</servlet-name>
    <url-pattern>/servlet/servletdemo.MixedContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageContentFromComponent</servlet-name>
    <url-pattern>/servlet/servletdemo.ImageContentFromComponent</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
</web-app>
